<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Loan Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <navbar>
    <ul>
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn active">Loan Calculators</a>
        <div class="dropdown-content">
          <a href="/house">House Loan</a>
          <a href="/auto">Auto Loan</a>
        </div>
      </li>
    </ul>
  </navbar>
  <br>
  <div class="row">
      <div class="col-50">
        <div class="container">
            <div class="row">
              <div class="col-50">
                <% if(page == 'house') { %>
                  <h3>House Listing</h3>
                <% }else{ %>
                  <h3>Auto Loans</h3>
                  <div id="brand" style="padding: 0px"></div>
                  <div id="model" style="padding: 0px"></div>
                <% } %>
                <label><i class="fa fa-user"></i> Loan Amount</label>
                <input type="text" id="inp-loan-amt" placeholder="0" value="1000000">
                <label><i class="fa fa-envelope"></i> Down Payment</label>
                <div class="row">
                  <div class="col-25">
                    <input type="text" id="inp-down-per" placeholder="0" value="20">
                  </div>
                  <span style="padding-top: 10px;">OR</span>
                  <div class="col-50">
                    <input type="text" id="inp-down-amt" placeholder="0" value="200000">
                  </div>
                </div>
              </div>
              
              <div class="col-50" style="margin-top: 62px;">
                <label>Interest</label>
                <input type="text" id="inp-interest-amt" placeholder="0" value="15">
                <label>Terms</label>
                <select id="inp-terms-val">
                  <option value="12">12 Months</option>
                  <option value="18">18 Months</option>
                  <option selected value="24">24 Months</option>
                  <option value="36">36 Months</option>
                  <option value="48">48 Months</option>
                  <option value="60">60 Months</option>
                </select>
              </div>
              
            </div>
            <input type="submit" value="Calculate" class="btn" id="btncalc">
        </div>
      </div>
      <div class="col-50">
        <div class="container">
            <h2>MONTHLY PAYMENT</h2>
            <p id="monthly">P 0.00</p>
        </div>
      </div>
    </div>
  <script>
    const page = '<%- page %>';
  </script>
  <script src="/static/js/bundle.js"></script>
</body>
</html>